.nav-items {
  gap: 1rem;
}
.nav-link,
button {
  color: var(--black1) !important;
  font-size: var(--font-link) !important;
  font-weight: var(--fw-600) !important;
}

.login-btn {
  background: var(--sky1) !important;
  font-size: var(--font-link) !important;
  font-weight: var(--fw-500) !important;
  transition: var(--transition);
  width: 100px;
  max-width: 100%;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.789);
  transform: translateX(-100%);
  transition: 0.5s ease-in-out;
}
.sidebar.show {
  transform: translateX(0);
}
.sidebar .sidebar-items {
  background: var(--white1);
  max-width: 314px;
  height: 100%;
  padding: 2rem;
}
.sidebar .sidebar-items .nav-link {
  margin-bottom: 0.7rem;
}
.pages {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.789);
  transform: translateX(100%);
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: end;
}
.pages.show {
  transform: translateX(0);
}
.pages .page-link {
  background: var(--white1) !important;
  max-width: 310px;
  height: 100%;
  padding: 2rem;
}
/* .login-btn:hover {
  background: var(--sky2) !important;
}
.nav-link.show-black {
  color: var(--dark1) !important;
}
.nav-link.show-white {
  color: var(--white1) !important;
}
  */
