.All {
  min-height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  max-height: 100%;
}

/* .All ::before {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.2;

  background-repeat: no-repeat;
} */

.All .box h1 {
  color: var(--white1);
  font-weight: var(--fw-600);
}
.All .box-link,
.box-link a {
  color: var(--white1);
  z-index: 100;
}

.box-link a.active {
  color: orange;
}
