.p-comming {
  background: url('../../../assets/banner.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-comming .box-input {
  background: var(--white1);

  font-size: var(--font-14);
  font-weight: var(--fw-700);
  border: 4px solid var(--sky3);
}
.p-comming .box-input input {
  font-weight: var(--fw-600);
  padding-left: 0.7rem;
}
.p-comming .box-input button {
  background: var(--sky1) !important;
  padding: 0.7rem;
  color: var(--white1) !important;
  font-weight: var(--fw-600);
}
.p-comming .go-btn button {
  background: rgb(82, 8, 221);
}
