.c-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.c-time .single-count {
  background: var(--white1);
  text-align: center;
  border: 4px solid var(--sky3);
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.c-time .single-count h1 {
  margin: 0 !important;
  color: var(--sky1);
  font-weight: var(--fw-600);
}
.c-time .single-count p {
  color: var(--dark1);
  font-weight: var(--fw-600);
}
