.client {
  background: var(--white2);
}
.client .single-client {
  background: var(--white1);
  padding: 1.5rem 0.7rem;
}

.client .single-client h6 {
  color: var(--black2) !important;
  font-size: 18px !important;
  margin-bottom: 0px;
  margin-bottom: 8px;
}

.slick-slide {
  overflow-x: hidden !important;
}
